.container {
  margin-top: 27px;
}

.innerContainer {
  width: 728px;
  margin: 0 auto;
}

.title {
  font-size: 21px;
  font-weight: 300;
}

.content {
  font-size: 14px;
  line-height: 18px;
}

.link {
  color: #0066cc;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
