.container {
  margin-top: 99px;
  padding: 0 0 40px 0;
  background-color: #f0f5f9;
}

.innerContainer {
  width: 768px;
  margin: 0 auto;
}

.contentContainer {
  display: inline-block;
  width: 210px;
  padding: 20px;
  vertical-align: top;
}

.broughtToYouContainer {
  composes: contentContainer;
}

.contentHeader {
  margin-bottom: 9px;
  font-size: 21px;
}

.content {
  margin: 0;
}

.link {
  display: inline-block;
  height: 36px;
  margin-top: 20px;
  color: #0066cc;
  font-size: 14px;
  text-decoration: none;
}

.image {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 18px;
}

.linkText {
  margin-left: 10px;
  line-height: 36px;
  vertical-align: top;

  .link:hover & {
    text-decoration: underline;
  }
}

.haveFeatureIdeasContainer {
  composes: contentContainer;
  margin-left: 9px;
}

.icon {
  font-size: 36px;
  color: #212121;
}
