@import '~variables';

.container {
  padding: 18px 0 27px;
  background-color: @header-background-color;
}

.innerContainer {
  position: relative;
  width: 728px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  margin: 0;
  font-size: 36px;
  font-weight: 300;
  text-transform: uppercase;
}

.subHeader {
  margin: 0;
  font-size: 14px;
  font-weight: 100;
}

.socialButtons {
  position: absolute;
  top: 9px;
  right: 0;
}

.twitterButton {
  margin-left: 20px;
}
