@import '~variables';

.container {
  padding: 40px 0;
  background-color: @header-background-color;
}

.innerContainer {
  width: 728px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  margin: 0;
  font-size: 76px;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 90px;
}

.subHeader {
  margin: 0;
  font-size: 28px;
  font-weight: 100;
}

.socialButtons {
  margin: 30px 0 0 0;
}

.twitterButton {
  margin-left: 40px;
}
