.container {
  background-color: #f0f5f9;
  padding: 27px 0 54px;
}

.innerContainer {
  width: 740px;
  margin: 0 auto;
  font-size: 28px;
  line-height: 84px;
}

.colorContainer {
  display: inline-block;
  width: 126px;
}

.fontSizeContainer {
  display: inline-block;
  width: 40px;
}
