@import '~variables';

.container {
  background-color: #f0f5f9;
  padding: 27px 0 108px;
}

.innerContainer {
  margin: 0 auto;

  @media @small {
    width: @small-screen-width - 40px;
    font-size: 18px;
    line-height: 45px;
  }

  @media @medium {
    width: @medium-screen-width - 40px;
    font-size: 18px;
    line-height: 45px;
  }

  @media @large {
    width: @large-screen-width - 40px;
    font-size: 21px;
    line-height: 54px;
  }
}

.colorContainer {
  display: inline-block;
  width: 94px;
}

.fontSizeContainer {
  display: inline-block;
  width: 46px;
}
