.container {
  margin-top: 59px;
}

.sectionContainer {
  display: inline-block;
  vertical-align: top;
}

.content {
  margin-top: 21px;
}

.contrastContainer {
  composes: sectionContainer;
  width: 100px;
}

.contrastContent {
  composes: content;
  font-size: 48px;
  line-height: 38px;
  font-weight: 400;
}

.passesOrFails {
  margin-top: 6px;
  font-size: 14px;
}

.sampleContainer {
  composes: sectionContainer;
  margin-left: 60px;
  width: 250px;
}

.sampleContent {
  composes: content;
  padding: 20px;
  height: 162px;
}

.colorsContainer {
  composes: sectionContainer;
  margin-left: 60px;
  width: 258px;
}

.title {
  font-size: 18px;
  font-weight: 400;
}

.backgroundColorTitle {
  composes: title;
  margin-top: 45px;
}

.textColorContent {
  composes: content;
  margin-top: 12px;
  font-size: 14px;
}

.backgroundColorContent {
  composes: content;
  margin-top: 12px;
  font-size: 14px;
}

.hslContainer {
  display: flex;
  width: 180px;
  justify-content: space-between;
  line-height: 24px;
}
