@import '~variables';

.container {
  @media @small {
    margin-top: 54px;
  }

  @media @medium {
    margin-top: 63px;
  }

  @media @large {
    margin-top: 81px;
  }
}

.innerContainer {
  @media @small {
    margin: 0 20px;
  }

  @media @medium {
    margin: 0 auto;
    width: @medium-screen-width - 40px;
  }

  @media @large {
    margin: 0 auto;
    width: @large-screen-width - 40px;
  }
}

.title {
  font-weight: 400;

  @media @small-medium {
    font-size: 18px;
  }

  @media @large {
    font-size: 21px;
  }
}

.content {
  @media @small-medium {
    font-size: 14px;
    line-height: 18px;
  }

  @media @large {
    font-size: 18px;
    line-height: 27px;
  }
}

.graphContainer {
  @media @small {
    transform: translateX(-40px);
  }

  @media @medium {
    width: 560px;
    transform: translateX(-45px);
  }

  @media @large {
    width: 800px;
    transform: translateX(-45px);
  }
}

.axisName {
  font-size: 14px;
}

:global {
  // svg {
  //   outline: 1px solid blue;

  //   g:nth-child(1) {
  //     outline: 1px solid red;
  //   }
  // }

  .ct-series-a {   /* Axes */
    .ct-line {
      stroke: #212121;
      stroke-width: 1px;
    }
  }

  .ct-series-b {   /* Accessible Line */
    .ct-line {
      stroke: #777;
      stroke-width: 1px;
      stroke-dasharray: 5px 2px;
    }
  }

  .ct-series-c {   /* Graph */
    .ct-line {
      stroke: #212121;
      stroke-width: 1px;
    }

    .ct-point {
      stroke: #212121;
      stroke-width: 15px;
    }
  }

  .ct-series-d {   /* Current Point */
    .ct-point {
      stroke-width: 8px;
    }
  }
}

@handleWidth: 20px;

.slider {
  height: 0;
  transform: translateX(-@handleWidth / 2);
  top: -20px;

  @media @medium {
    width: 534px;
  }

  @media @large {
    width: 563px + @handleWidth;
  }
}

.handle {
  position: relative;
  width: @handleWidth;
  height: 27px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.75);

  &:after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    pointer-events: none;
    border-width: 12px (@handleWidth / 2);
    margin-left: -@handleWidth / 2;
  }
}

.activeHandle {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

.accessibleHandle {
  @accessibleColor: #3d854d;

  background: @accessibleColor;

  &:after {
    border-bottom-color: @accessibleColor;
  }
}

.notAccessibleHandle {
  @notAccessibleColor: #ee0000;

  background: @notAccessibleColor;

  &:after {
    border-bottom-color: @notAccessibleColor;
  }
}
