@import '~variables';

.container {
  height: 431px;
  padding: 0;
}

.innerContainer {
  margin: 0 auto;
  color: #ff0000;
  transform: translateY(-36px);

  @media @small {
    width: @small-screen-width - 40px;
    font-size: 18px;
  }

  @media @medium {
    width: @medium-screen-width - 40px;
    font-size: 18px;
  }

  @media @large {
    width: @large-screen-width - 40px;
    font-size: 21px;
  }
}

.error {
  position: relative;
  margin: 0;
  line-height: 27px;
}

.colorError {
  composes: error;
  margin-top: 18px;
}

.fontSizeError {
  composes: error;
  margin-top: 18px;
}
