.container {
  padding: 40px 0;
}

.innerContainer {
  width: 740px;
  margin: 0 auto;
  font-size: 28px;
  color: #ff0000;
}

.paragraph {
  position: relative;
}

.icon {
  position: absolute;
  top: -2px;
  left: -55px;
  font-size: 36px;
}
