@font-face {
  font-family: 'AccessibleColors';
  src:url('fonts/AccessibleColors.eot?e2dtpz');
  src:url('fonts/AccessibleColors.eot?#iefixe2dtpz') format('embedded-opentype'),
    url('fonts/AccessibleColors.ttf?e2dtpz') format('truetype'),
    url('fonts/AccessibleColors.woff?e2dtpz') format('woff'),
    url('fonts/AccessibleColors.svg?e2dtpz#AccessibleColors') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'AccessibleColors';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-circle-attention:before {
  content: "\e606";
}
.icon-circle-github:before {
  content: "\e602";
}
.icon-circle-slack:before {
  content: "\e603";
}
.icon-circle-twitter:before {
  content: "\e605";
}
