@font-face {
  font-family: 'AccessibleColors';
  src:url('fonts/AccessibleColors.eot?-la84ea');
  src:url('fonts/AccessibleColors.eot?#iefix-la84ea') format('embedded-opentype'),
    url('fonts/AccessibleColors.ttf?-la84ea') format('truetype'),
    url('fonts/AccessibleColors.woff?-la84ea') format('woff'),
    url('fonts/AccessibleColors.svg?-la84ea#AccessibleColors') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'AccessibleColors';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-circle-attention:before {
  content: "\e600";
}
.icon-circle-cross:before {
  content: "\e601";
}
.icon-circle-github:before {
  content: "\e602";
}
.icon-circle-slack:before {
  content: "\e603";
}
.icon-circle-tick:before {
  content: "\e604";
}
.icon-circle-twitter:before {
  content: "\e605";
}
.icon-cross:before {
  content: "\e606";
}
.icon-tick:before {
  content: "\e607";
}
