.container {
  height: 72px;
  line-height: 72px;
  font-size: 28px;
  color: #ffffff;
}

.passesContainer {
  composes: container;
  background-color: #6db37d;
}

.failsContainer {
  composes: container;
  background-color: #ff6666;
}

.innerContainer {
  position: relative;
  width: 768px;
  margin: 0 auto;
}

.textContainer {
  position: relative;
  width: 213px;
  padding: 0 20px;
}

.passesTextContainer {
  composes: textContainer;
  background-color: #4aa15d;
}

.failsTextContainer {
  composes: textContainer;
  background-color: #ee0000;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 126px 0 126px;
}

.passesTriangle {
  composes: triangle;
  border-color: #4aa15d transparent transparent transparent;
}

.failsTriangle {
  composes: triangle;
  border-color: #ee0000 transparent transparent transparent;
}
