.container {
  padding: 80px 0 40px;
}

.innerContainer {
  position: relative;
  width: 740px;
  margin: 0 auto;
  font-size: 28px;
}

.icon {
  position: absolute;
  top: -2px;
  left: -55px;
  font-size: 36px;
}
